torch==2.0.0
torchvision==0.15.1
torchaudio==2.0.1

numpy==1.26.4
scipy==1.15.3
pandas==2.2.2
scikit-learn==1.7.2
tqdm==4.65.2

opencv-python==4.10.0.84
pillow==11.3.0
matplotlib==3.10.7
cityscapesscripts==2.2.4

timm==0.4.12
transformers==4.38.0
tokenizers==0.15.2
sentencepiece==0.2.0
huggingface-hub==0.27.1
ftfy==6.2.0
regex==2024.5.15

pyyaml==6.0.3
pycocotools==2.0.10
einops==0.8.1
